/* #region common */

:root {
    --color-header-hr-star-footer-bottom: #2C3E50;
    --color-bg-light-green: #1ABC9C;
    --color-title-no-bg: #333333;
    --color-bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    background-color: var(--color-header-hr-star-footer-bottom);
}

hr {
    width: 11%;
    margin: 0 5%;
    border-radius: 10px;
}

hr:not([size]) {
    height: 3px;
}

h2 {
    color: var(--color-title-no-bg);
}


/* #endregion common */


/* #region utility */

.px_09 {
    padding: 0 .9rem;
}

.pb_7 {
    padding-bottom: 7rem;
}

.px_10 {
    padding: 0 10rem;
}

.m_2 {
    margin: 0 2%;
}

.bg_light_green {
    background-color: var(--color-bg-light-green);
}

.color_light_green {
    color: var(--color-bg-light-green);
}

.b-none {
    border: none;
}


/* #endregion utility */


/* #region main */


/* jumbotron */

.jumbo_img {
    width: auto;
    height: 210px;
    transition: 1s;
}


/* #endregion main */


/* #region footer */

.footer_top {
    background-color: var(--color-bg-footer-top);
}

.footer_bottom {
    background-color: var(--color-header-hr-star-footer-bottom);
}

::placeholder {
    color: black !important;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black !important;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black !important;
}


/* #endregion footer */

@media screen and (min-width: 768px) {
    .jumbo_img {
        width: auto;
        height: 260px;
    }
}