/* common */

:root {
    --color-header-hr-star-footer-bottom: #2C3E50;
    --color-bg-light-green: #1ABC9C;
    --color-title-no-bg: #333333;
    --color-bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    background-color: var(--color-header-hr-star-footer-bottom);
}

hr {
    width: 20%;
    margin: 0 3%;
    border-radius: 10px;
}

hr:not([size]) {
    height: 6px;
}


/* #region debug */


/* header */


/* jumbotron */


/* .debug .jumbotron [class^="jumbo"] {
    padding: 3.5rem;
} */

.jumbo_img {
    width: auto;
    height: 210px;
    transition: 1s;
}


/* portfolio */

.debug #portfolio .bg_star {
    height: 5px;
    width: 150px;
    background-color: var(--color-header-hr-star-footer-bottom);
}

.debug #portfolio [class^="card"] {
    height: 400px;
    background-color: rgb(151, 47, 47);
    border-radius: 10px;
}


/* about */

.debug #about .bg_star-white {
    height: 5px;
    width: 150px;
    background-color: white;
}

.debug #about [class^="col"] {
    height: 125px;
}


/* contact */

.debug #contact .bg_star {
    height: 5px;
    width: 150px;
    background-color: var(--color-header-hr-star-footer-bottom);
}

.debug #contact [class^="col"] {
    height: 50px;
}


/* footer */

.debug #site_footer [class^="col"] {
    height: 100px;
}


/* #endregion debug */


/* #region utility */

.pb_7 {
    padding-bottom: 7rem;
}

.ms_2 {
    margin-left: 2%;
}

.me_2 {
    margin-right: 2%;
}

.bg_light_green {
    background-color: var(--color-bg-light-green);
}


/* footer 
*******************/

.footer_top {
    background-color: var(--color-bg-footer-top);
}

.footer_bottom {
    background-color: var(--color-header-hr-star-footer-bottom);
}

@media screen and (min-width: 992px) {
    .jumbo_img {
        width: auto;
        height: 260px;
    }
}